.register-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--c-main);
    height: 100vh;
}
.register{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:5%;
}




.register-body, .register-body form{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register-body form input{
    width: 100%;
    display: flex;
    margin: 4px  0;
    font-size: 25px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 16px;
    flex:0 1 1;
}



.register-body form button{
    width: 100%;
    display: flex;
    margin: 4px  0;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 16px;
    background-color: var(--c-warning);
    color: var(--c-light);
    font-weight: 600;
    cursor: pointer;
    align-self: flex-start;
    justify-content: center;
}
.register-body h2{
    color: var(--c-light);
    align-self: flex-start;
    margin-bottom: 20px;
}
.register-body button{
    width: 100%;
    display: flex;
    margin: 4px  0;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 16px;
    background-color: var(--c-warning);
    color: var(--c-light);
    font-weight: 600;
    cursor: pointer;
    align-self: flex-start;
    justify-content: center;
}

hr.register-hr{ 
    margin: 16px 0;
    border: 2px solid rgb(91, 91, 92);
    border-radius: 5px;
    width: 100%;
  }
.signup-btn{
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.signup-btn p{
    font-size: 20px;
    color: var(--c-light);
    margin-right: 8px;
}

.signup-btn button{
    background-color: transparent;
    border: none;
    color: var(--c-light);
    font-size: 20px;
    font-weight: 700;
    width: max-content;
    cursor: pointer;
}

@media screen and (max-width: 640px){
    .register{
        width: 80%;
    }
}

